<div class="micro-modal micromodal-slide" id="dna-insights-addon" aria-hidden="true">
    <div class="micro-modal__overlay" tabindex="-1" data-micromodal-close>
      <div class="micro-modal__container" role="dialog" aria-modal="true" aria-labelledby="quantity-modal-title">
        <header class="micro-modal__header insights_modal">
          <h2 class="micro-modal__title" id="quantity-modal-title">        
            {{ settings.inner_dna_insights_modal_title }}
          </h2>
          <button class="micro-modal__close inner-mobile-close" aria-label="Close modal" data-micromodal-close></button>
        </header>
        <main class="micro-modal__content" id="quantity-modal-content">
          <div data-dna-insights-addon-content data-innerage-addon-product="default" class="innerage-addon-product" style="display: none;">
        <div class="dna-insight-list">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M9 21.035l-9-8.638 2.791-2.87 6.156 5.874 12.21-12.436 2.843 2.817z"/></svg>
            {{ settings.inner_dna_insights_modal_description }}
         </div>
         <div class="dna-insight-list">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M9 21.035l-9-8.638 2.791-2.87 6.156 5.874 12.21-12.436 2.843 2.817z"/></svg>
            {{ settings.inner_dna_insights_modal_description_1 }}
         </div>
         <div class="dna-insight-list">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M9 21.035l-9-8.638 2.791-2.87 6.156 5.874 12.21-12.436 2.843 2.817z"/></svg>
            {{ settings.inner_dna_insights_modal_description_2 }}
         </div>
         <div class="dna-insight-list">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M9 21.035l-9-8.638 2.791-2.87 6.156 5.874 12.21-12.436 2.843 2.817z"/></svg>
            {{ settings.inner_dna_insights_modal_description_3 }}
         </div>
        </div>
        </main>
        <footer class="micro-modal__footer">
          <button class="button button--primary" data-micromodal-close="">Got it, thanks!</button>
        </footer>
      </div>
    </div>
  </div>
